<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a1a60a2-8575-44be-a2f9-246b8f305a34" Alias="About" Level="2">
  <Info>
    <Parent Key="a0bcc315-603e-4f01-a921-b0c1ef591b34">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2025-11-19T23:29:02</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b2c5f59e-8e85-4dcd-9ca0-696475908037">Content</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[umb://document/f964e66ae8a540e79a929987ccafba12,umb://document/faa31b76c10445669e00adb860f9e3ac]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>