<?xml version="1.0" encoding="utf-8"?>
<Content Key="faa31b76-c104-4566-9e00-adb860f9e3ac" Alias="Block List" Level="4">
  <Info>
    <Parent Key="004c3ac6-2f29-48cc-9ec1-766da545fda8">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2025-11-19T23:53:34</CreateDate>
    <NodeName Default="Block List" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97f8939e-cbac-4756-809b-63be21592796">PageTag</Template>
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>