<?xml version="1.0" encoding="utf-8"?>
<Content Key="f964e66a-e8a5-40e7-9a92-9987ccafba12" Alias="Block Grid" Level="4">
  <Info>
    <Parent Key="004c3ac6-2f29-48cc-9ec1-766da545fda8">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2025-11-19T23:48:40</CreateDate>
    <NodeName Default="Block Grid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97f8939e-cbac-4756-809b-63be21592796">PageTag</Template>
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>