<?xml version="1.0" encoding="utf-8"?>
<Content Key="004c3ac6-2f29-48cc-9ec1-766da545fda8" Alias="Page Tags" Level="3">
  <Info>
    <Parent Key="bd3c096b-09f1-499e-ae4b-e6c68a02967d">Site Settings</Parent>
    <Path>/Home/SiteSettings/PageTags</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTags</ContentType>
    <CreateDate>2025-11-19T23:46:04</CreateDate>
    <NodeName Default="Page Tags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>