<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef99458d-7394-46df-bed4-047c6bb50b91" Alias="Search" Level="2">
  <Info>
    <Parent Key="a0bcc315-603e-4f01-a921-b0c1ef591b34">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2025-11-19T23:29:49</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dcac125b-962d-47ee-aa5a-ace87ceac927">SearchPage</Template>
  </Info>
  <Properties>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>