<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd3c096b-09f1-499e-ae4b-e6c68a02967d" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="a0bcc315-603e-4f01-a921-b0c1ef591b34">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettingss</ContentType>
    <CreateDate>2025-11-19T23:37:30</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/7fba695e4e7e47d7a1733c4a6947da3e",
        "areas": [
          {
            "key": "886e096b-44b1-4de0-8c21-3fa994ff2496",
            "items": [
              {
                "contentUdi": "umb://element/41d0255889864896b2ac0f1e2520d5c7",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "791af13f-5d6c-44e3-9c90-e9d02eab7676",
            "items": [
              {
                "contentUdi": "umb://element/317aadbbefb94da6bec12b94594d571c",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "79a95451-1530-4a5b-a760-51a5ad64eadd",
            "items": [
              {
                "contentUdi": "umb://element/ff9ccc84d63d45b282916776705ffb58",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e8376355-a9ff-446a-8795-1251dde1f6aa",
      "udi": "umb://element/7fba695e4e7e47d7a1733c4a6947da3e"
    },
    {
      "contentTypeKey": "bf19481b-40d2-4e6e-80d0-4ccb23acebc2",
      "udi": "umb://element/41d0255889864896b2ac0f1e2520d5c7",
      "title": "Title 1",
      "text": {
        "markup": "<p>Left</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "bf19481b-40d2-4e6e-80d0-4ccb23acebc2",
      "udi": "umb://element/317aadbbefb94da6bec12b94594d571c",
      "title": "Title 2",
      "text": {
        "markup": "<p>mid</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "bf19481b-40d2-4e6e-80d0-4ccb23acebc2",
      "udi": "umb://element/ff9ccc84d63d45b282916776705ffb58",
      "title": "Title 3",
      "text": {
        "markup": "<p>right</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/cec6a60a39384a58bd9d1636d5975696",
        "areas": [
          {
            "key": "b3ec1f69-fb0c-4cb7-b4cd-efc8f1abe1d7",
            "items": [
              {
                "contentUdi": "umb://element/c86dd192679341f39a0cdcde077385f0",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/fa303293e3134f94bee4c6eee55924ec",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/6cb32a7fad7645cfbad77db1d46e8ba4",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e6d255b4-c569-4855-8ff5-680a1184d41b",
      "udi": "umb://element/cec6a60a39384a58bd9d1636d5975696"
    },
    {
      "contentTypeKey": "6ae98bdd-40ee-4e04-929a-8c975eb52602",
      "udi": "umb://element/c86dd192679341f39a0cdcde077385f0",
      "title": "About",
      "link": [
        {
          "name": "About",
          "udi": "umb://document/1a1a60a2857544bea2f9246b8f305a34"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "6ae98bdd-40ee-4e04-929a-8c975eb52602",
      "udi": "umb://element/fa303293e3134f94bee4c6eee55924ec",
      "title": "Search",
      "link": [
        {
          "name": "Search",
          "udi": "umb://document/ef99458d739446dfbed4047c6bb50b91"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "6ae98bdd-40ee-4e04-929a-8c975eb52602",
      "udi": "umb://element/6cb32a7fad7645cfbad77db1d46e8ba4",
      "title": "Dropdown",
      "link": "",
      "childLinks": [
        {
          "name": "Home",
          "udi": "umb://document/a0bcc315603e4f01a921b0c1ef591b34"
        },
        {
          "name": "About",
          "udi": "umb://document/1a1a60a2857544bea2f9246b8f305a34"
        },
        {
          "name": "Search",
          "udi": "umb://document/ef99458d739446dfbed4047c6bb50b91"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[Lovely Collie - Bob]]></Value>
    </siteName>
  </Properties>
</Content>