<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e320cfec-aeb5-4429-8622-953f26498554" Alias="[Block Grid] - Home Page - BodyBlockList" Level="2">
  <Info>
    <Name>[Block Grid] - Home Page - BodyBlockList</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e1a70024-4bf8-459d-8dab-845312eb6ef6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>