<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6983ae8c-d4ea-47fa-b4aa-2ea03ae97746" Alias="[BlockGrid] - Footer Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Footer Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "8c737591-84c9-4d64-b4e2-a0cd5f6050e4",
      "name": "Layout"
    },
    {
      "key": "db1aea21-33bb-4637-8396-300b8827e5ef",
      "name": "Modules"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "886e096b-44b1-4de0-8c21-3fa994ff2496",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "bf19481b-40d2-4e6e-80d0-4ccb23acebc2",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "middle",
          "columnSpan": 4,
          "createLabel": "add foooter at mid",
          "key": "791af13f-5d6c-44e3-9c90-e9d02eab7676",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "bf19481b-40d2-4e6e-80d0-4ccb23acebc2",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "right",
          "columnSpan": 4,
          "createLabel": "add content to right",
          "key": "79a95451-1530-4a5b-a760-51a5ad64eadd",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "bf19481b-40d2-4e6e-80d0-4ccb23acebc2",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e8376355-a9ff-446a-8795-1251dde1f6aa",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8c737591-84c9-4d64-b4e2-a0cd5f6050e4",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "bf19481b-40d2-4e6e-80d0-4ccb23acebc2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "db1aea21-33bb-4637-8396-300b8827e5ef",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>