<?xml version="1.0" encoding="utf-8"?>
<DataType Key="141796b3-8a0a-400e-9b35-893a3441d6bb" Alias="Home Page - Color 1 - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Home Page - Color 1 - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": true
}]]></Config>
</DataType>