<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e320cfec-aeb5-4429-8622-953f26498554" Alias="Home Page - BodyBlockList - Block Grid" Level="1">
  <Info>
    <Name>Home Page - BodyBlockList - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>