<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6b64494-226e-4809-b58c-894450206abc" Alias="[MNTP] - Page Tag Picker" Level="2">
  <Info>
    <Name>[MNTP] - Page Tag Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "pageTag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Current",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "f40a3992-aa58-4876-8e19-bd8ba901b79a"
          ]
        },
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "388ab360-e96f-4046-9285-3b818b43d8ac"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>