<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c99a32b8-7c14-4543-a712-9d26bec79f7c" Alias="[MultiUrlPicker] Single Url Picker" Level="2">
  <Info>
    <Name>[MultiUrlPicker] Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>