<?xml version="1.0" encoding="utf-8"?>
<Media Key="af65bcda-d6ff-4a46-bb1b-29824207bb8c" Alias="Bob Child 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BobChild2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-19T10:37:15</CreateDate>
    <NodeName Default="Bob Child 2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1s4gll55/bob-child-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>