<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbd1d8ae-eb79-4bd6-bf4c-e5b315693455" Alias="Bob 1 Year" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bob1Year</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-19T10:37:25</CreateDate>
    <NodeName Default="Bob 1 Year" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vdmnd41z/bob-1-year.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>