<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8ea1079-7ea9-4499-b9bc-14a2e6763734" Alias="Bob Recent" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BobRecent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-19T10:25:21</CreateDate>
    <NodeName Default="Bob Recent" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p2iovsfj/bob-recent.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>