<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4acec6b6-84f9-4de1-8edd-02975b9dea3b" Alias="content" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-umb-content color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the main page type for this website</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7e7417db-5153-487e-9da0-a2ed7155992e">contentPropertities</Composition>
      <Composition Key="fda1e597-4ff4-4ce8-9ea0-59a9b129f14a">headerProperties</Composition>
      <Composition Key="e68cc2c3-2465-4269-bac1-f62cfc8862b6">sEOProperties</Composition>
      <Composition Key="812ae4f9-692d-497f-9831-9c6edde60b5b">taggingProperties</Composition>
      <Composition Key="cbf09708-6a9a-42d9-a2e9-bfc8f2d4e9ad">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b2c5f59e-8e85-4dcd-9ca0-696475908037">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>