<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bba920d7-364a-4e85-9518-319281f47c48" Alias="footerProperties" Level="2">
  <Info>
    <Name>Footer Properties</Name>
    <Icon>icon-defrag color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f4046a9c-ed0f-47b7-b9ca-4219e3e4c9ee</Key>
      <Name>Footer Content</Name>
      <Alias>footerContent</Alias>
      <Definition>6983ae8c-d4ea-47fa-b4aa-2ea03ae97746</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3b1f73ee-6b27-4750-902d-cc235fbd58b9</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>