<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e6d255b4-c569-4855-8ff5-680a1184d41b" Alias="navigationArea" Level="4">
  <Info>
    <Name>Navigation Area</Name>
    <Icon>icon-sitemap color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>navigation area on top</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Block+Grid/Content+Models</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>