<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ce318f96-698f-450d-9a1e-d1ac69ba7f57" Alias="navigatoinArea" Level="4">
  <Info>
    <Name>Navigation Area</Name>
    <Icon>icon-sitemap color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Main navigation</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Block+Grid/Content+Models</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>