<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="388ab360-e96f-4046-9285-3b818b43d8ac" Alias="pageTags" Level="2">
  <Info>
    <Name>Page Tags</Name>
    <Icon>icon-tags color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e9be94bf-10a9-4d72-85a6-fa60ab6219eb" SortOrder="0">pageTag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>