<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf933ce3-6803-4eee-93cb-1343b7046283" Alias="searchPage" Level="2">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-search color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the search page for the site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e68cc2c3-2465-4269-bac1-f62cfc8862b6">sEOProperties</Composition>
      <Composition Key="812ae4f9-692d-497f-9831-9c6edde60b5b">taggingProperties</Composition>
      <Composition Key="cbf09708-6a9a-42d9-a2e9-bfc8f2d4e9ad">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dcac125b-962d-47ee-aa5a-ace87ceac927">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>