<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="30d93e36-ccec-4c2c-a368-45e870c5ab2b" Alias="siteSettingss" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="bba920d7-364a-4e85-9518-319281f47c48">footerProperties</Composition>
      <Composition Key="2a7cf541-0a51-49b0-ac8a-063f8eb38f77">mainNavProperties</Composition>
      <Composition Key="ccb0efc9-d188-4e56-849f-4b2a93e20b21">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="388ab360-e96f-4046-9285-3b818b43d8ac" SortOrder="0">pageTags</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>