<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="812ae4f9-692d-497f-9831-9c6edde60b5b" Alias="taggingProperties" Level="2">
  <Info>
    <Name>Tagging Properties</Name>
    <Icon>icon-defrag color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f43a823d-7202-4a54-8b40-7095017f3c2d</Key>
      <Name>Page Tags</Name>
      <Alias>pageTags</Alias>
      <Definition>b6b64494-226e-4809-b58c-894450206abc</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the tags for this page]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pageSettings/tagging">Tagging</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1db47d82-6b27-4d43-bb8a-c9256a1d3b84</Key>
      <Caption>Tagging</Caption>
      <Alias>pageSettings/tagging</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>4ce9f66c-4da8-4dc8-b20c-bd0de080abd1</Key>
      <Caption>Page Settings</Caption>
      <Alias>pageSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>60</SortOrder>
    </Tab>
  </Tabs>
</ContentType>