<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="886ff3b4-5526-457d-8e77-f20a422611e6" Alias="AUM" Level="1">
  <Info>
    <Parent>FinancialDates</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">19K</Translation>
    <Translation Language="zh-Hans-CN"></Translation>
  </Translations>
</Dictionary>